@media screen and (min-width:768px) 
{
.button 
{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button5 
{
  background-color: mediumpurple;
  color: black;
  border: 2px solid #555555;
}


.button6
{
  background-color: black;
  color: white;
  border: 2px solid #555555;
}
}






@media screen and (max-width:768px) 
{
.button 
{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
}

.button5 
{
  background-color: mediumpurple;
  color: black;
  border: 2px solid #555555;
}


.button6
{
  background-color: black;
  color: white;
  border: 2px solid #555555;
}
}

